@(farmerNameForm: Form[viewmodels.EnquiryName])(implicit flash: Flash, request: RequestHeader)

@import play.api.i18n._
@import views.html.helper._


@main("Create new application") {
	@form(action = routes.Farmer.farmerName, 'class -> "form-horizontal") {
		<fieldset>
			<legend>Identifying myself</legend>
			@farmerNameForm.globalError.map { error =>
				<div class='row'>
					<div class="alert alert-error">@error.message</div>
				</div>
			}
			<input type="hidden" value="@farmerNameForm("id").value" name="id" />
			@partials.input(farmerNameForm("firstName"), "First name")
			@partials.input(farmerNameForm("middleName"), "Middle name (optional)")
			@partials.input(farmerNameForm("lastName"), "Last name")
			@partials.input(farmerNameForm("previousNames"), "Previous or maiden name")
		</fieldset>
		<input type="submit" class="btn" value="Next step"/>
	}
}