@(enquiryForm: Form[(String,String)])

@import helper._

@import play.api.i18n._
@import views.html.helper._

@main("Welcome to Farmathon") {
<div>
	  @form(action = routes.Enquiries.search, args = 'id -> "enquirySearchForm") {

        @inputText(
            field = enquiryForm("surname"),
            args = '_label -> "Please input your Surname"
        )

        @inputText(
            field = enquiryForm("enquiryId"),
            args = '_label -> "Application Id"
        )

        <p class="buttons">
            <input type="submit" id="submit">
        <p>

    }
</div>
}
