@(enquiryForm: Form[(String,String)])(implicit flash: Flash, request: RequestHeader)


@import play.api.i18n._
@import views.html.helper._

@main("Search for enquiries"){
<div>
			@flash.get("success")
	
	  @form(action = routes.Enquiries.search, args = 'id -> "enquirySearchForm") {

	@partials.input(enquiryForm("surname"), "Last Name")
		@partials.input(enquiryForm("enquiryId"), "Application Id")      

        <p class="buttons">
            <input type="submit" id="submit">
        <p>

    }
</div>
}
